button {
	margin-left: 45%;
	margin-top: 45%;
	padding: 15px;
	font: Georgia;
	font-size: 1.2em;
	border: 0;
	color: #dedede;
	border-radius: 5px;
	background: #1d3d7a;
	box-shadow: 1px 1px 5px #000;
}

